langchain==0.0.208
deeplake
openai
tiktoken
jupyter notebook
google-api-python-client
huggingface_hub
pypdf
google-search-results
newspaper3k
requests
pyllamacpp==1.0.7
sentencepiece
gpt4all
pyvis
faiss-cpu
selenium
unstructured
spacy
scikit-learn
scipy
matplotlib
sentence_transformers
cohere
yt_dlp
audio_recorder_streamlit
elevenlabs
streamlit-chat